{% extends "base.html" %}

{% block title %}Entry{% endblock %}

{% block content %}
Hi {{ user.username }}!

<form action="{% url 'entry'%}" method="post">
    {% csrf_token %}
    <p>
        <label for="id_name">Name:</label>
        <input type="text" name="name" maxlength="200" required="" id="id_name">
    </p>

    <p>
        <label for="id_date">Date created:</label>
        <input type="text" name="date" required="" id="id_date">
    </p>


    <p>
        <label for="id_folder">Folder:</label>
        <select name="folder" required="" id="id_folder">
            <option value="" selected="">---------</option>
            {% for folder in user.folder_set.all %}

            <option value="{{folder.id}}">{{folder}}</option>
            {% endfor %}
        </select>
    </p>


    <p>
        <label for="id_content">Content:</label>
        <textarea name="content" cols="40" rows="10" required="" id="id_content"></textarea>
    </p>

    <input type="submit" value="Entry add">
</form>
{% endblock %}